h1 {
color:#333333;
margin:0;
padding:20px 0 0 0;
}
h3 {
color:#333333;
}
a {
color:#094a94;
}
#nav li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}
#nav {
    margin: 0 0 0 0;
    padding: 15px 30px 10px 30px;
}

#nav li a:link {
    text-decoration: none;
}
#nav li a:hover {
    text-decoration: underline;
}
